AllfleXML/FlexSpec/FlexSpec.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document">
    <xs:annotation>
      <xs:appinfo>Document</xs:appinfo>
      <xs:documentation xml:lang="en">
        Document Container for multiple specifications
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Specification" type="SpecificationNode" minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>Marking Specification</xs:appinfo>
            <xs:documentation xml:lang="en">
              Marking specification for a product offering.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Specification" type="SpecificationNode">
    <xs:annotation>
      <xs:appinfo>Marking Specification</xs:appinfo>
      <xs:documentation xml:lang="en">
        Marking specification for a product offering.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SpecificationNode">
    <xs:sequence>
      <xs:element name="Id">
        <xs:annotation>
          <xs:appinfo>Specification Identifier</xs:appinfo>
          <xs:documentation xml:lang="en">
            Unique identifier for the specification.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name">
        <xs:annotation>
          <xs:appinfo>Specification Name</xs:appinfo>
          <xs:documentation xml:lang="en">
            Name of the specification.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarkingCode" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>Marking Code</xs:appinfo>
          <xs:documentation xml:lang="en">
            Optional: The laser template. Legacy compatibility as the marking code should match the name of the specification.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Components">
        <xs:annotation>
          <xs:appinfo>Components</xs:appinfo>
          <xs:documentation xml:lang="en">
            Components, raw materials, or blank tags included in this specificaiton.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Component" maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>Component</xs:appinfo>
                <xs:documentation xml:lang="en">
                  Raw component definition
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Index">
                    <xs:annotation>
                      <xs:appinfo>Component Index</xs:appinfo>
                      <xs:documentation xml:lang="en">
                        Unique ID defining the order of the component.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Name">
                    <xs:annotation>
                      <xs:appinfo>Component Name</xs:appinfo>
                      <xs:documentation xml:lang="en">
                        Name of the component.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="ItemNumber" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:appinfo>Item Number</xs:appinfo>
                      <xs:documentation xml:lang="en">
                        Item number reference in the ERP
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Description" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:appinfo>Component Description</xs:appinfo>
                      <xs:documentation xml:lang="en">
                        Description of the component
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="ProductLine" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:appinfo>Component Product Line</xs:appinfo>
                      <xs:documentation xml:lang="en">
                        Product line, or brand, of the component.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Silhouette" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:appinfo>Silhouette image</xs:appinfo>
                      <xs:documentation xml:lang="en">
                        Optional: For use by the renderer. The silhouette is the filled component outline to be entirely recolored by the selected color with the outline placed on top.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Outline" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:appinfo>Outline image</xs:appinfo>
                      <xs:documentation xml:lang="en">
                        Optional: For use by the renderer. The outline is the component shadows and definition lines to be placed on top of the silhouette to give it a raised, 3D effect.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Color" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:appinfo>Selected Color</xs:appinfo>
                      <xs:documentation xml:lang="en">
                        Current selected color of the component.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="FixedColor" type="xs:boolean" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:appinfo>Fixed Color</xs:appinfo>
                      <xs:documentation xml:lang="en">
                        Flag that determines if the color of this component is choosen by the customer or by the specification.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Faces">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Face" maxOccurs="unbounded">
                          <xs:annotation>
                            <xs:appinfo>Component Face</xs:appinfo>
                            <xs:documentation xml:lang="en">
                              The side of the component being described. Chould be physical or otherwise (as in the RFID field of a component).
                            </xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="Name" type="xs:string">
                                <xs:annotation>
                                  <xs:appinfo>Face Name</xs:appinfo>
                                  <xs:documentation xml:lang="en">
                                    Indicates weather the variables are marked on the front or back of a component, or in the RFID field of the component. Values can be 'Front', 'Back', or 'RFID'
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:element>
                              <xs:element name="Outline" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                  <xs:appinfo>Outline image</xs:appinfo>
                                  <xs:documentation xml:lang="en">
                                    Optional: For use by the renderer. The outline is the component shadows and definition lines to be placed on top of the silhouette to give it a raised, 3D effect.
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:element>
                              <xs:element name="Variables">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="Variable" maxOccurs="unbounded">
                                      <xs:annotation>
                                        <xs:appinfo>Marking Variable</xs:appinfo>
                                        <xs:documentation xml:lang="en">
                                          Parameters of a single marked value.
                                        </xs:documentation>
                                      </xs:annotation>
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="Index" type="xs:int">
                                            <xs:annotation>
                                              <xs:appinfo>Variable Index</xs:appinfo>
                                              <xs:documentation xml:lang="en">
                                                Index order of the variable. Unique for all variables in a specification.
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:element>
                                          <xs:element name="Name" type="xs:string">
                                            <xs:annotation>
                                              <xs:appinfo>Variable Name</xs:appinfo>
                                              <xs:documentation xml:lang="en">
                                                The name of the variable. Unique for all variables in a specification.
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:element>
                                          <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                              <xs:appinfo>Variable Description</xs:appinfo>
                                              <xs:documentation xml:lang="en">
                                                Optional description of the variable.
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:element>
                                          <xs:element name="Role" type="xs:string">
                                            <xs:annotation>
                                              <xs:appinfo>Variable Role</xs:appinfo>
                                              <xs:documentation xml:lang="en">
                                                Significance of the variable (Management number, Registration Number, Serial Number, One Time Programmable/Electronic Identification, Animal Identification Number, etc)
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:element>
                                          <xs:element name="Type" type="xs:string">
                                            <xs:annotation>
                                              <xs:appinfo>Variable Type</xs:appinfo>
                                              <xs:documentation xml:lang="en">
                                                Required: Values can be 'text', 'curved-text' or 'image'
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:element>
                                          <xs:element name="Width" type="xs:int">
                                            <xs:annotation>
                                              <xs:appinfo>Variable Width</xs:appinfo>
                                              <xs:documentation xml:lang="en">
                                                Width of the variable's bounding box.
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:element>
                                          <xs:element name="Height" type="xs:int">
                                            <xs:annotation>
                                              <xs:appinfo>Variable Height</xs:appinfo>
                                              <xs:documentation xml:lang="en">
                                                Height of the variable's bounding box.
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:element>
                                          <xs:element name="PositionX" type="xs:int">
                                            <xs:annotation>
                                              <xs:appinfo>Variable X Coordinate</xs:appinfo>
                                              <xs:documentation xml:lang="en">
                                                X coordinate of the top left corner of the variable's bounding box.
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:element>
                                          <xs:element name="PositionY" type="xs:int">
                                            <xs:annotation>
                                              <xs:appinfo>Variable Y Coordinate</xs:appinfo>
                                              <xs:documentation xml:lang="en">
                                                Y coordinate of the top left corner of the variable's bounding box.
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:element>
                                          <xs:element name="DefaultValue" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                              <xs:appinfo>Variable Value</xs:appinfo>
                                              <xs:documentation xml:lang="en">
                                                The default value of the variable.
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:element>
                                          <xs:element name="ValueFormat" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                              <xs:appinfo>Variable Format Mask</xs:appinfo>
                                              <xs:documentation xml:lang="en">
                                                Optional: Only used when `Type` = "text" or "curved-text". Value indicates formatting of the `Text` value '#' = character, '_' = space insert
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:element>
                                          <xs:element name="MaxLength" type="xs:int">
                                            <xs:annotation>
                                              <xs:appinfo>Variable Maximum Length</xs:appinfo>
                                              <xs:documentation xml:lang="en">
                                                Optional: Only used when `Type` = "text" or "curved-text". Value indicates the maximum length of `Text`
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:element>
                                          <xs:element name="FontSize">
                                            <xs:annotation>
                                              <xs:appinfo>Variable Font Size</xs:appinfo>
                                              <xs:documentation xml:lang="en">
                                                Optional: Only used when `Type` = "text" or "curved-text". Value indicates the size of the font
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:element>
                                          <xs:element name="IsCentered" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                              <xs:appinfo>Centered Variable Value Indicator</xs:appinfo>
                                              <xs:documentation xml:lang="en">
                                                Indicates if the variable value is centered based on the max length for the specification. The value can not be changed by instance.
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:element>
                                          <xs:element name="IsFixed" type="xs:boolean">
                                            <xs:annotation>
                                              <xs:appinfo>Fixed Variable Indicator</xs:appinfo>
                                              <xs:documentation xml:lang="en">
                                                Indicates if the variable value is static for the specification. The value can not be changed by instance.
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:element>
                                          <xs:element name="IsLaser" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                              <xs:appinfo>Laser marking Indicator</xs:appinfo>
                                              <xs:documentation xml:lang="en">
                                                Indicates if the value is laser etched into the product.
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:element>
                                          <xs:element name="IsInk" type="xs:boolean">
                                            <xs:annotation>
                                              <xs:appinfo>Ink Marking Indicator</xs:appinfo>
                                              <xs:documentation xml:lang="en">
                                                Required: Determines if a variable value will be inked onto the product (It is possible to ink both TEXT and LOGO)
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:element>
                                          <xs:element name="LogoImageLocation" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                              <xs:appinfo>Variable Logo Image Location</xs:appinfo>
                                              <xs:documentation xml:lang="en">
                                                Optional: For use by the renderer. Only used when `Type` = "image". Location of the logo image file. the Logo Inditification number should be populated as the variable value.
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:element>
                                          <xs:element name="Radius" type="xs:int" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                              <xs:appinfo>Radius of the curved text</xs:appinfo>
                                              <xs:documentation xml:lang="en">
                                                Optional: Only used when `Type` = "curved-text". Value indicates wideness of curved text
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:element>
                                          <xs:element name="CurveTextAttachTo" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                              <xs:appinfo>Curved Text Orientation</xs:appinfo>
                                              <xs:documentation xml:lang="en">
                                                Optional: Only used when `Type` = "curved-text". Values can be 'inside' or 'outside'
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:element>
                                          <xs:element name="CopyValueFrom" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                              <xs:appinfo>Value copy from variable</xs:appinfo>
                                              <xs:documentation xml:lang="en">
                                                Optional: Accepts the variable name of an existing varialble on this specification. It will set IsFixed to true and makes DefaultValue the same as the provided variable name.
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Colors">
                    <xs:annotation>
                      <xs:appinfo>Component Colors</xs:appinfo>
                      <xs:documentation xml:lang="en">
                        Valid colors of the component.
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Color" maxOccurs="unbounded">
                          <xs:annotation>
                            <xs:appinfo>Material Color</xs:appinfo>
                            <xs:documentation xml:lang="en">
                              Material Color
                            </xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="ColorCode">
                                <xs:annotation>
                                  <xs:appinfo>Color Code</xs:appinfo>
                                  <xs:documentation xml:lang="en">
                                    Identifying code of the Color
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:element>
                              <xs:element name="Name">
                                <xs:annotation>
                                  <xs:appinfo>Color Name</xs:appinfo>
                                  <xs:documentation xml:lang="en">
                                    Name of the color.
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:element>
                              <xs:element name="HexCode">
                                <xs:annotation>
                                  <xs:appinfo>Color Hexidecimal Value</xs:appinfo>
                                  <xs:documentation xml:lang="en">
                                    Hexidecimal Value of the color.
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Packaging" type="PackagingOptionNode" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>Packaging Option</xs:appinfo>
          <xs:documentation xml:lang="en">
            Packaging option definition for the specification.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PackagingOptionNode">
    <xs:sequence>
      <xs:element name="Id">
        <xs:annotation>
          <xs:appinfo>Packaging Identifier</xs:appinfo>
          <xs:documentation xml:lang="en">
            Unique identifier for the packaging option.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name">
        <xs:annotation>
          <xs:appinfo>Packaging Name</xs:appinfo>
          <xs:documentation xml:lang="en">
            Name of the packaging option.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>Packaging Description</xs:appinfo>
          <xs:documentation xml:lang="en">
            Description of the packaging option.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnitOfMeasure" type="xs:unsignedShort">
        <xs:annotation>
          <xs:appinfo>UnitOfMeasure</xs:appinfo>
          <xs:documentation xml:lang="en">
            Denomination of the Quantity.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Instruction" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>Instructions on how to package product.</xs:appinfo>
          <xs:documentation xml:lang="en">
            Instructions for the packaging option.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Container" type="PackagingContainerNode" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>Packaging Container</xs:appinfo>
          <xs:documentation xml:lang="en">
            Packaging container, such as a pallet, case, box, bag, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PackagingContainerNode">
    <xs:sequence>
      <xs:element name="ItemNumber" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>Item Number</xs:appinfo>
          <xs:documentation xml:lang="en">
            Item number reference in the ERP
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>Packaging Description</xs:appinfo>
          <xs:documentation xml:lang="en">
            Description of the packaging container.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Type">
        <xs:annotation>
          <xs:appinfo>Container Type</xs:appinfo>
          <xs:documentation xml:lang="en">
            Could be a frieght car, truck, pallet, case, box, bag, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MaxQuantity" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>MaxQuantity</xs:appinfo>
          <xs:documentation xml:lang="en">
            The maximum total amount of tag sets. Even if the tag sets are not directly in this container, though in this case the element is not necessary.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Dimensions" type="DimensionNode" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>Container Size</xs:appinfo>
          <xs:documentation xml:lang="en">
            Size, shape, and orientation of the packaging container.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Components">
        <xs:annotation>
          <xs:appinfo>Components in this container</xs:appinfo>
          <xs:documentation xml:lang="en">
            List of components in this container
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Component" minOccurs="1" maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>Component in this container</xs:appinfo>
                <xs:documentation xml:lang="en">
                  One of the components in this container.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Index">
                    <xs:annotation>
                      <xs:appinfo>Component Index</xs:appinfo>
                      <xs:documentation xml:lang="en">
                        Unique ID defining the order of the component.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Dimensions" type="DimensionNode" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:appinfo>Container Size</xs:appinfo>
                      <xs:documentation xml:lang="en">
                        Size, shape, and orientation of the packaging container.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Container" type="PackagingContainerNode" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>Packaging Container</xs:appinfo>
          <xs:documentation xml:lang="en">
            Packaging container, such as a pallet, case, box, bag, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DimensionNode">
    <xs:sequence>
      <xs:element name="BoundingBox" type="PointNode">
        <xs:annotation>
          <xs:appinfo>Boudning Box</xs:appinfo>
          <xs:documentation xml:lang="en">
            Minimum size of a rectangular prism that will contain the object being described.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Origin" type="PointNode">
        <xs:annotation>
          <xs:appinfo>Origin Point</xs:appinfo>
          <xs:documentation xml:lang="en">
            Point of which to scale, rotate, or otherwise transform an object.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Weight" type="WeightNode" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>Weight</xs:appinfo>
          <xs:documentation xml:lang="en">
            Weight, or how heavy an object is.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Orientation" type="OrientationNode" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>Orientation</xs:appinfo>
          <xs:documentation xml:lang="en">
            The attitude, or angles of rotation, for an object
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Voids" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Void" minOccurs="1" maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>Voided area</xs:appinfo>
                <xs:documentation xml:lang="en">
                  Voided area from the bounding box.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="BoundingBox" type="PointNode">
                    <xs:annotation>
                      <xs:appinfo>Boudning Box</xs:appinfo>
                      <xs:documentation xml:lang="en">
                        Minimum size of a rectangular prism that will contain the object being described.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Origin" type="PointNode">
                    <xs:annotation>
                      <xs:appinfo>Origin Point</xs:appinfo>
                      <xs:documentation xml:lang="en">
                        Point of which to scale, rotate, or otherwise transform an object.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WeightNode">
    <xs:sequence>
      <xs:element name="Value" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>Weight Value</xs:appinfo>
          <xs:documentation xml:lang="en">
            Weight, or how heavy an object is.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UOM" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>Unit of Measurement</xs:appinfo>
          <xs:documentation xml:lang="en">
            Unit of measurement for Weight
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrientationNode">
    <xs:sequence>
      <xs:element name="X" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>X rotation</xs:appinfo>
          <xs:documentation xml:lang="en">
            Roll. the plane angle offset on the longitudinal, or x axis.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Y" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>Y rotation</xs:appinfo>
          <xs:documentation xml:lang="en">
            Yaw. the plane angle offset on the normal, or y axis.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Z" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>Z rotation</xs:appinfo>
          <xs:documentation xml:lang="en">
            Pitch. the plane angle offset on the lateral, or z axis.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UOM" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>Unit of Measurement</xs:appinfo>
          <xs:documentation xml:lang="en">
            Plane angle unit of measurement.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PointNode">
    <xs:sequence>
      <xs:element name="X" type="xs:decimal">
        <xs:annotation>
          <xs:appinfo>X coordinate</xs:appinfo>
          <xs:documentation xml:lang="en">
            In the case of a point, it is the x corrdinate value.
            In the case of distance, it is the length value.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Y" type="xs:decimal">
        <xs:annotation>
          <xs:appinfo>Y coordinate</xs:appinfo>
          <xs:documentation xml:lang="en">
            In the case of a point, it is the y corrdinate value.
            In the case of distance, it is the height value.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Z" type="xs:decimal">
        <xs:annotation>
          <xs:appinfo>Z coordinate</xs:appinfo>
          <xs:documentation xml:lang="en">
            In the case of a point, it is the z corrdinate value.
            In the case of distance, it is the width, or depth value.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UOM" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>Unit of Measurement</xs:appinfo>
          <xs:documentation xml:lang="en">
            Unit of measurement for Distance
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>