AllfleXML/FlexOrder/FlexOrderStatus.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OrderStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="MasterID"/>
        <xs:element type="xs:string" name="AllflexOrderID"/>
        <xs:element type="xs:string" name="Status"/>
        <xs:element name="ErrorMessages">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Message"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:byte" name="ProductionProgress"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>